<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Register | Venue Booking</title>
    <link rel='stylesheet' href='/styles/pages/auth.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <div class='auth-page'>
      <div class='auth-container'>
        <img src='/images/juit-logo.png' alt='JUIT Logo' class='auth-logo' />

        <div class='auth-card'>
          <div class='auth-header'>
            <h1 class='auth-title'>Create Account</h1>
            <p class='auth-subtitle'>Sign up to get started</p>
          </div>

          <form
            class='auth-form'
            method='POST'
            action='/register'
            id='registerForm'
          >
            <div class='auth-input-group'>
              <input
                type='email'
                name='registerEmail'
                placeholder='Email'
                class='auth-input'
                id='email'
                required
              />
              <div class='auth-input-error' id='email-error'></div>
            </div>

            <div class='auth-input-group'>
              <input
                type='password'
                name='registerPassword'
                placeholder='Password'
                class='auth-input'
                id='password'
                required
              />
              <div class='auth-input-error' id='password-error'></div>
            </div>

            <div class='auth-input-group'>
              <input
                type='password'
                name='confirmPassword'
                placeholder='Confirm Password'
                class='auth-input'
                id='confirmPassword'
                required
              />
              <div class='auth-input-error' id='confirmPassword-error'></div>
            </div>

            <button type='submit' class='auth-button' id='registerButton'>Sign
              Up</button>
          </form>
        </div>

        <div class='auth-footer'>
          Already have an account?
          <a href='/' class='auth-link'>Sign in</a>
        </div>

        {{#if message}}
          <div class='alert alert-{{message.type}}'>{{message.text}}</div>
        {{/if}}
      </div>
    </div>

    <script src='/js/validation.js'></script>
    <script src='/js/toast.js'></script>
  </body>
</html>