<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Book Venue | Venue Booking</title>
    <link rel='stylesheet' href='/styles/pages/venueBooking.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <div class='venue-booking'>
      <div class='venue-container'>
        <img src='/images/juit-logo.png' alt='JUIT Logo' class='venue-logo' />

        <div class='venue-card'>
          <div class='venue-header'>
            <h1 class='venue-title'>Book Venue</h1>
            <p class='venue-subtitle'>Fill in the details to book a venue</p>

          </div>

          <form class='venue-form' action='/booking' method='post'>
            <div class='venue-input-group'>
              <input
                type='text'
                name='name'
                placeholder='Full Name'
                class='venue-input'
                required
              />
              <div class='venue-input-error'></div>
            </div>

            <div class='venue-input-group'>
              <input
                type='email'
                name='email'
                placeholder='Email'
                class='venue-input'
                required
              />
              <div class='venue-input-error'></div>
            </div>

            <div class='venue-input-group'>
              <input
                type='number'
                name='number'
                placeholder='Phone Number'
                class='venue-input'
                required
              />
              <div class='venue-input-error'></div>
            </div>

            <div class='venue-input-group'>
              <select name='venue' class='venue-input' required>
                <option value='' disabled selected>Select Venue</option>
                <option value='Auditorium'>Auditorium</option>
                <option value='Conference Hall'>Conference Hall</option>
                <option value='Seminar Room'>Seminar Room</option>
                <option value='Classroom'>Classroom</option>
              </select>
              <div class='venue-input-error'></div>
            </div>

            <div class='venue-input-group'>
              <input
                type='date'
                name='date'
                placeholder='Date'
                class='venue-input'
                required
              />
              <div class='venue-input-error'></div>
            </div>

            <div class='venue-input-group'>
              <label for='timeFrom' class='venue-input-label'>From Time</label>
              <input
                type='time'
                id='timeFrom'
                name='timeFrom'
                class='venue-input'
                required
              />
              <div class='venue-input-error'></div>
            </div>

            <div class='venue-input-group'>
              <label for='timeTo' class='venue-input-label'>To Time</label>
              <input
                type='time'
                id='timeTo'
                name='timeTo'
                class='venue-input'
                required
              />
              <div class='venue-input-error'></div>
            </div>

            <div class='venue-input-group'>
              <textarea
                name='purpose'
                placeholder='Purpose of booking'
                class='venue-input venue-textarea'
                required
              ></textarea>
              <div class='venue-input-error'></div>
            </div>

            <button type='submit' class='venue-button'>Book Now</button>
          </form>
        </div>

        <div class='venue-footer'>
          <a href='/' class='venue-link'>Back to Home</a>
        </div>

        {{#if message}}
          <div class='alert alert-{{message.type}}'>{{message.text}}</div>
        {{/if}}
      </div>
    </div>

    <script src='/js/validation.js'></script>
    <script src='/js/toast.js'></script>
  </body>
</html>